*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
}

body {
    background-color: rgb(35,38,40);
    color: aliceblue;
    font-family: 'Roboto', sans-serif
}

/* HEADER */

header {
    background-color: rgb(1,102,50);
}

.header__nav {
    display: flex;
    flex-wrap: wrap;

}

.header__logo {
    width: 60px;
    height: 60px;
    padding: 16px 0 16px 16px;
}

.header__lista {
    display: flex;
    list-style: none;
    padding: 0 16px;
}

.header__item {
    padding: 20px;
}

.header__item a {
    color: aliceblue;
    text-decoration: none;
}

/* MAIN */

main {
    padding: 20px 0 20px 0;
}

li {
    padding: 10px 10px;
}

.main__productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.productos__price {
    color: rgb(82,234,155);
    padding: 0 0 5px 0;
}

.productos__img {
    width: 200px;
    height: 200px;
    padding: 0 0 10px 0;
}

h1 {
    text-align: center;
    padding: 0 16px;
}

h2 {
    padding: 0 0 10px 16px;
}

h3 {
    padding: 0 0 20px 16px;
}

article { 
    background-color: rgb(24,26,27);
    margin: 10px;
    padding: 20px; ;
}

.contacto__grip {
    display: grid;
    grid-template-areas: "mss info"
                         "ubi info";
}

.info {
    grid-area: info;
    padding: 60px;
}

.mss {
    grid-area: msss;
}

.ubi {
    grid-area: ubi;

}


/* FOOTER */

footer {
    background-color: rgb(24,26,27)
}

p {
    padding: 16px 0 16px 16px;
}

/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {

    header {
        width: auto;
        height: auto;
    }
    
    .header__nav {
        flex-direction: column;
    
    }
    .header__lista {
        flex-direction: column;
        flex-grow: 0;
        align-items: center;
    }
    
    .contacto__grip {
        display: inline;
    }
}

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {

    header {
        width: auto;
        height: auto;
    }
}