/* COLORES */
.background-centrado, .card-barricas, .card-botellas, .card-corcho, .card-vino, .card-pallets, .card-soja, .card-trigo, .card-carne, .card-petro, .card-oro, .card-auto, .card-gas, .card-celular, .card-medicina, .card-porotos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.text-style, a, header .header__item, header .header__item a {
  color: aliceblue;
  text-decoration: none; }

.anim, .card__base:hover, header .header__item:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5; }

li {
  list-style: none; }

h1 {
  text-align: center;
  padding: 10px; }

h4 {
  padding: 10px 0 10px 16px; }

article {
  background-color: #181a1b; }

/* MAP */
.card__base {
  background-color: #181a1b;
  border-radius: 15px;
  margin: 10px;
  padding: 10px; }

.card__img, .card-barricas, .card-botellas, .card-corcho, .card-vino, .card-pallets, .card-soja, .card-trigo, .card-carne, .card-petro, .card-oro, .card-auto, .card-gas, .card-celular, .card-medicina, .card-porotos {
  border-radius: 10px;
  width: 200px;
  height: 200px; }

.card__price {
  color: #52ea9b;
  padding: 5px 0 0 0; }

.card-barricas {
  background-image: url("../resources/barricas.jpg"); }

.card-botellas {
  background-image: url("../resources/botellas.jpg"); }

.card-corcho {
  background-image: url("../resources/corcho.jpg"); }

.card-vino {
  background-image: url("../resources/vino.jpg"); }

.card-pallets {
  background-image: url("../resources/botellas1.jpg"); }

.card-soja {
  background-image: url("../resources/soja.jpg"); }

.card-trigo {
  background-image: url("../resources/trigo.jpg"); }

.card-carne {
  background-image: url("../resources/carne.jpg"); }

.card-petro {
  background-image: url("../resources/petroleo.jpg"); }

.card-oro {
  background-image: url("../resources/oro.jpg"); }

.card-auto {
  background-image: url("../resources/auto.jpg"); }

.card-gas {
  background-image: url("../resources/gas.jpg"); }

.card-celular {
  background-image: url("../resources/celulares.jpg"); }

.card-medicina {
  background-image: url("../resources/medicina.jpg"); }

.card-porotos {
  background-image: url("../resources/porotos.jpg"); }

/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    width: auto;
    height: auto; }
    header .header__bottom {
      display: flex;
      justify-content: center;
      text-align: center; }
    header .header__lista {
      flex-direction: column;
      flex-grow: 0;
      align-items: center; }
  .carousel {
    display: none; }
  .img_none {
    display: none; }
  .contacto__grid {
    display: inline; }
  .article_user {
    padding: 0 20px 0 20px; }
  .article_cat {
    margin: 10px 0 10px 0; } }

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  header {
    width: auto;
    height: auto; }
  .article_user {
    padding: 0 20px 0 20px; } }

* {
  margin: 0px;
  /* MARGEN EXTERNO */
  padding: 0px;
  /* MARGEN INTERNO */ }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #232628;
  color: aliceblue;
  font-family: 'Roboto', sans-serif; }

/* HEADER */
header {
  background-color: #01803e; }
  header .header__bottom {
    display: flex;
    justify-content: end; }
  header .header__item {
    padding: 0; }

/* MAIN */
.carousel_altura {
  height: 300px; }

.article_space {
  margin: 10px;
  padding: 20px; }

.anim_color :hover {
  background-color: aqua; }

/* Index */
main {
  padding: 20px 0 20px 0; }
  main .main__productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; }
  main .main__titulos {
    padding: 20px 0 0 -10px; }

/* Usuario */
.user__img {
  margin: 20px 20px; }

/* Contacto */
.ubicacion {
  padding: 16px 0 0 20px; }

.contacto__grid {
  display: grid;
  grid-template-areas: "mss info"; }
  .contacto__grid .info {
    grid-area: info;
    padding: 30px;
    width: auto; }
  .contacto__grid .mss {
    grid-area: msss;
    height: auto; }

/* FOOTER */
footer {
  background-color: #181a1b; }
