li {
    list-style: none;
}

h1 {
    text-align: center;
    padding: 10px;
}

h4 {
    padding: 10px 0 10px 16px;
}

a {
    @extend .text-style;
}

article { 
    background-color: $color-secundario;
}
