/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {

    header {
        width: auto;
        height: auto;
        .header{
            &__bottom {
                display: flex;
                justify-content: center;
                text-align: center;
            }
            &__lista {
                flex-direction: column;
                flex-grow: 0;
                align-items: center;
            }
        }
    }

    .carousel {
        display: none;
    }

    .img_none {
        display: none;
    }

    .contacto__grid {
        display: inline;
    }

    .article {
        &_user {
            padding: 0 20px 0 20px;
        }
        &_cat {
            margin: 10px 0 10px 0;
        }
    }
}

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {

    header {
        width: auto;
        height: auto;
    }

    .article_user {
        padding: 0 20px 0 20px;
    }
}